.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202021;
    width: 100%;
    min-height: 15vh;
}
.footer-title{
    font-size: larger;
    color: #ccc;
}