.home-description{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 500px;
}
.main a{
    text-decoration: none;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    transform: scale(.85);
    transition: all .2s;
    background-color: #357;
    color: aliceblue;
    text-align: center;
    border: 1px solid #246;
}
.main a:hover{
    transform: scale(1);
}