.panel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    min-height: 80vh;
    padding: 2vmax;
}
.panel-text{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 2rem;
    min-height: 200px;
}
.panel-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.panel-options{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.panel-option{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #246;
    color: aliceblue;
    text-align: center;
    border: 1px solid #123;
    font-size: 1rem;
    padding: 4px;
    border-radius: 5px;
    transform: scale(.9);
    transition: all 60ms;
}
.panel-option.active{
    transform: scale(1);
    filter: brightness(1.2);
}
.panel-option:hover{
    transform: scale(1);
}
.panel-option input{
    display: none;
}
.panel-submit{
    width: 100%;
    max-width: 100px;
    background-color: #357;
    color: aliceblue;
    text-align: center;
    border: 1px solid #246;
    font-size: 1rem;
    padding: 4px;
    border-radius: 5px;
}
.panel-submit.chose{
    filter: opacity(.5);
}